
.categoryNews {
    cursor: pointer;
}

;


.categoryNews {
    transition: 0.2s;
}

.categoryNews:hover {
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.categoryNews {
    transition: 0.2s;
}

.categoryNews:hover {
    /* box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* footer {
    position: static;
    margin-top: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: black;
    color: white;
    text-align: center;
    bottom: 0;
    width: 100%;
} */